body {
	padding-top: 50px;
}

div {
	padding: 20px;
	border: 1px solid #eee;
	margin: 50px 0 50px -740px;
	width: 1440px;
	background: url(../images/loader.gif) no-repeat center center;
	position: relative;
	left: 50%;
}

.e-mail {
	background: #e2e7ee;
	border: 20px solid white;
	box-shadow: 0 0 0 1px #eee;
	text-align: center;
	width: 1400px;
}

h1 {
	font-family: "Open Sans", Helvetica, Arial;
	font-size: 24px;
	text-align: center;
	color: #5d5f64;
	font-weight: normal;
}