@import "mixins"

font-size	= 13px
font-family	= Helvetica, Arial, sans-serif, 'Helvetica Neue'
text-color	= #7f3f96

body
	font-size font-size
	font-family font-family
	background url(../images/bg.jpg) repeat-y center top #9670a7
	color text-color
	overflow-y scroll

#header
	background url(../images/header.png) center top no-repeat
	height 122px
	.wrapper
		wrapper()
		#logo
			hidden-text()
			display block
			float left
			width 128px
			height 51px
			margin-top 38px
			background url(../images/header-logo.png) left top no-repeat
		#nav
			float right
			position relative
			ul
				margin-top 55px
				li
					float left

					&:last-child
						margin-right 0
					a
						display block
						color text-color
						text-decoration none
						line-height 24px
						padding 0 8px
						transition(100ms)
						&:hover
							background #94709e
							color #FFF

#content
	clearfix()
	wrapper()
	margin-top 40px
	.new-home
		margin-top 40px
		width 320px
		float left
		h1
			hidden-text()
			width 366px
			height 84px
			background url(../images/new-home.png) left top no-repeat
			float right
		h2
			font-size 21px
			margin 30px 0 15px
			color #FFF
			float left
		ul
			li
				float left
				&:last-child
					float right
	.what-is
		margin-top 40px
		width 280px
		float right
		h1
			font-size 22px
			margin-bottom 15px
		p
			line-height 18px
			text-align justify

.vertical-nav
	width 184px
	float left
	ul
		position relative
		li
			line-height 28px
			margin-bottom 3px
			position relative
			transition(200ms)
			a
				display block
				text-transform uppercase
				color #FFF
				font-size 12px
				font-weight bold
				text-decoration none
				text-align right
				padding-right 10px
				&.color-1
					background #492e77
				&.color-2
					background #882ea8
				&.color-3
					background #94709e
				&:hover, &.active
					text-decoration underline
			.submenu
				position relative
				a
					font-size 10px
					font-weight normal


.content-desc
	line-height 18px
	text-align justify
	&.hide
		display none
	p
		margin-bottom 20px
		&:last-child
			margin 0
		strong
			font-weight bold
		a
			color text-color
	h1
		font-size 18px
		font-weight bold
		margin-bottom 20px
	.photos
		li
			width 200px
			float left
			margin-bottom 10px
			&.margin
				margin-right 10px
			a
				display block
				img
					display block
					max-width 100%

.the-house-of-future
	.book
		float left
		margin-top 40px
	.content-desc
		float right
		width 410px

.our-products
	.content-desc
		float left
		width 300px
		border-right 2px solid #a17ea6
		padding-right 23px
		h4
			font-size 18px
			margin-bottom 20px
			line-height 24px
	.catalogue
		float right
		width 300px
		h2
			background #b549df
			line-height 28px
			height 26px
			color #d29be5
			font-size 16px
			font-weight bold
			text-transform uppercase
			padding-right 10px
			text-align right
		.header
			text-transform uppercase
			ul
				clearfix()
				margin 20px 0
				li
					float left
					font-size 11px
					width 148px
					margin-bottom 4px
					&.margin
						margin-right 4px
					a
						text-decoration none
						color text-color
						background #bf90c6
						display block
						line-height 24px
						text-align center
						transition(100ms)
						&:hover
							background #94709e
							color #FFF
		.content
			ul
				li
					width 300px
					height 120px
					margin-bottom 20px
					a
						position relative
						display block
						.hover
							position absolute
							top 0
							left 0
							background rgba(106, 40, 131, .7)
							width 100%
							height 100%
							line-height 120px
							text-align center
							color #FFF
							font-size 18px
							text-transform uppercase
							opacity 0
							transition(100ms)
						&:hover
							.hover
								opacity 1
						img
							display block
	.product-modal
		position fixed
		width 100%
		height 100%
		background rgba(48, 12, 61, .75)
		top 0
		left 0
		display none
		.content
			width 960px
			height 600px
			position absolute
			left 50%
			margin-left -480px
			top 50%
			margin-top -300px
			.close
				width 50px
				height 50px
				position absolute
				right 0
				top -60px
				background url(../images/close.jpg) no-repeat
				display block
				&:hover
					background-position 0 -50px
			.floorplan
				float left
				width 455px
				height 600px
				padding-right 23px
				border-right 2px solid #bf90c6
			.image
				float left
				width 455px
				height 600px
				margin-left 25px


.the-designer
	background url(../images/the-designer.png) right bottom no-repeat
	padding-bottom 60px
	clearfix()
	.content-desc
		width 280px
		float left
		margin-left 20px
		h3
			font-size 18px
			text-align left
			margin-bottom 20px
			line-height 24px
.contact
	.left
		width 184px
		float left
		p
			margin-bottom 20px
			line-height 16px
			strong
				font-weight bold
			a
				color #fff
				line-height 26px
				display inline-block
				text-decoration none
				background #94709e
				padding 0 8px
				margin 10px 0
				transition(100ms)
				position relative
				&:hover
					background #b549df
					left 10px
	.right
		width 410px
		float right
		form
			position relative
			fieldset
				position relative
				label
					display block
					position relative
					margin-bottom 5px
				input, textarea
					line-height 26px
					border 0
					background #e8d1e9
					padding 0 10px
					margin 0 0 15px 0
					width 250px
					font-size 12px
					color text-color
					outline none
					resize none
				input
					height 26px
				textarea
					line-height 18px
					padding 10px
					width 390px
			button
				color #fff
				line-height 26px
				display inline-block
				text-decoration none
				background #94709e
				padding 0 15px
				margin 0
				transition(100ms)
				position relative
				border 0
				font-size 12px
				cursor pointer
				float right
				&:hover
					background #b549df

.under-construction
	h1
		background #b549df
		line-height 28px
		height 26px
		color #d29be5
		font-size 16px
		font-weight bold
		text-transform uppercase
		padding-right 10px
		text-align right

#footer
	wrapper()
	margin-top 40px
	background url(../images/footer.png) -60px top no-repeat
	height 100px
	ul
		float right
		li
			float right
			margin 35px 0 0 20px
			a
				hidden-text()
				display block
				&.bga
					width 90px
					height 42px
					background url(../images/logo-betina.png) left top no-repeat
				&.hotf
					width 275px
					height 30px
					background url(../images/logo-house.png) left top no-repeat