@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneue-webfont.eot");
  src: url("../fonts/helveticaneue-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/helveticaneue-webfont.woff") format('woff'), url("../fonts/helveticaneue-webfont.ttf") format('truetype'), url("../fonts/helveticaneue-webfont.svg#helveticaneueregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif, 'Helvetica Neue';
  background: url("../images/bg.jpg") repeat-y center top #9670a7;
  color: #7f3f96;
  overflow-y: scroll;
}
#header {
  background: url("../images/header.png") center top no-repeat;
  height: 122px;
}
#header .wrapper {
  width: 650px;
  margin: 0 auto;
}
#header .wrapper #logo {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: block;
  float: left;
  width: 128px;
  height: 51px;
  margin-top: 38px;
  background: url("../images/header-logo.png") left top no-repeat;
}
#header .wrapper #nav {
  float: right;
  position: relative;
}
#header .wrapper #nav ul {
  margin-top: 55px;
}
#header .wrapper #nav ul li {
  float: left;
}
#header .wrapper #nav ul li:last-child {
  margin-right: 0;
}
#header .wrapper #nav ul li a {
  display: block;
  color: #7f3f96;
  text-decoration: none;
  line-height: 24px;
  padding: 0 8px;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  transition: all 100ms ease;
}
#header .wrapper #nav ul li a:hover {
  background: #94709e;
  color: #fff;
}
#content {
  *zoom: 1;
  width: 650px;
  margin: 0 auto;
  margin-top: 40px;
}
#content:before,
#content:after {
  content: " ";
  display: table;
}
#content:after {
  clear: both;
}
#content .new-home {
  margin-top: 40px;
  width: 320px;
  float: left;
}
#content .new-home h1 {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 366px;
  height: 84px;
  background: url("../images/new-home.png") left top no-repeat;
  float: right;
}
#content .new-home h2 {
  font-size: 21px;
  margin: 30px 0 15px;
  color: #fff;
  float: left;
}
#content .new-home ul li {
  float: left;
}
#content .new-home ul li:last-child {
  float: right;
}
#content .what-is {
  margin-top: 40px;
  width: 280px;
  float: right;
}
#content .what-is h1 {
  font-size: 22px;
  margin-bottom: 15px;
}
#content .what-is p {
  line-height: 18px;
  text-align: justify;
}
.vertical-nav {
  width: 184px;
  float: left;
}
.vertical-nav ul {
  position: relative;
}
.vertical-nav ul li {
  line-height: 28px;
  margin-bottom: 3px;
  position: relative;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
}
.vertical-nav ul li a {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
  padding-right: 10px;
}
.vertical-nav ul li a.color-1 {
  background: #492e77;
}
.vertical-nav ul li a.color-2 {
  background: #882ea8;
}
.vertical-nav ul li a.color-3 {
  background: #94709e;
}
.vertical-nav ul li a:hover,
.vertical-nav ul li a.active {
  text-decoration: underline;
}
.vertical-nav ul li .submenu {
  position: relative;
}
.vertical-nav ul li .submenu a {
  font-size: 10px;
  font-weight: normal;
}
.content-desc {
  line-height: 18px;
  text-align: justify;
}
.content-desc.hide {
  display: none;
}
.content-desc p {
  margin-bottom: 20px;
}
.content-desc p:last-child {
  margin: 0;
}
.content-desc p strong {
  font-weight: bold;
}
.content-desc p a {
  color: #7f3f96;
}
.content-desc h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.content-desc .photos li {
  width: 200px;
  float: left;
  margin-bottom: 10px;
}
.content-desc .photos li.margin {
  margin-right: 10px;
}
.content-desc .photos li a {
  display: block;
}
.content-desc .photos li a img {
  display: block;
  max-width: 100%;
}
.the-house-of-future .book {
  float: left;
  margin-top: 40px;
}
.the-house-of-future .content-desc {
  float: right;
  width: 410px;
}
.our-products .content-desc {
  float: left;
  width: 300px;
  border-right: 2px solid #a17ea6;
  padding-right: 23px;
}
.our-products .content-desc h4 {
  font-size: 18px;
  margin-bottom: 20px;
  line-height: 24px;
}
.our-products .catalogue {
  float: right;
  width: 300px;
}
.our-products .catalogue h2 {
  background: #b549df;
  line-height: 28px;
  height: 26px;
  color: #d29be5;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 10px;
  text-align: right;
}
.our-products .catalogue .header {
  text-transform: uppercase;
}
.our-products .catalogue .header ul {
  *zoom: 1;
  margin: 20px 0;
}
.our-products .catalogue .header ul:before,
.our-products .catalogue .header ul:after {
  content: " ";
  display: table;
}
.our-products .catalogue .header ul:after {
  clear: both;
}
.our-products .catalogue .header ul li {
  float: left;
  font-size: 11px;
  width: 148px;
  margin-bottom: 4px;
}
.our-products .catalogue .header ul li.margin {
  margin-right: 4px;
}
.our-products .catalogue .header ul li a {
  text-decoration: none;
  color: #7f3f96;
  background: #bf90c6;
  display: block;
  line-height: 24px;
  text-align: center;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  transition: all 100ms ease;
}
.our-products .catalogue .header ul li a:hover {
  background: #94709e;
  color: #fff;
}
.our-products .catalogue .content ul li {
  width: 300px;
  height: 120px;
  margin-bottom: 20px;
}
.our-products .catalogue .content ul li a {
  position: relative;
  display: block;
}
.our-products .catalogue .content ul li a .hover {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(106,40,131,0.7);
  width: 100%;
  height: 100%;
  line-height: 120px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  transition: all 100ms ease;
}
.our-products .catalogue .content ul li a:hover .hover {
  opacity: 1;
}
.our-products .catalogue .content ul li a img {
  display: block;
}
.our-products .product-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(48,12,61,0.75);
  top: 0;
  left: 0;
  display: none;
}
.our-products .product-modal .content {
  width: 960px;
  height: 600px;
  position: absolute;
  left: 50%;
  margin-left: -480px;
  top: 50%;
  margin-top: -300px;
}
.our-products .product-modal .content .close {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 0;
  top: -60px;
  background: url("../images/close.jpg") no-repeat;
  display: block;
}
.our-products .product-modal .content .close:hover {
  background-position: 0 -50px;
}
.our-products .product-modal .content .floorplan {
  float: left;
  width: 455px;
  height: 600px;
  padding-right: 23px;
  border-right: 2px solid #bf90c6;
}
.our-products .product-modal .content .image {
  float: left;
  width: 455px;
  height: 600px;
  margin-left: 25px;
}
.the-designer {
  background: url("../images/the-designer.png") right bottom no-repeat;
  padding-bottom: 60px;
  *zoom: 1;
}
.the-designer:before,
.the-designer:after {
  content: " ";
  display: table;
}
.the-designer:after {
  clear: both;
}
.the-designer .content-desc {
  width: 280px;
  float: left;
  margin-left: 20px;
}
.the-designer .content-desc h3 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
  line-height: 24px;
}
.contact .left {
  width: 184px;
  float: left;
}
.contact .left p {
  margin-bottom: 20px;
  line-height: 16px;
}
.contact .left p strong {
  font-weight: bold;
}
.contact .left p a {
  color: #fff;
  line-height: 26px;
  display: inline-block;
  text-decoration: none;
  background: #94709e;
  padding: 0 8px;
  margin: 10px 0;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  transition: all 100ms ease;
  position: relative;
}
.contact .left p a:hover {
  background: #b549df;
  left: 10px;
}
.contact .right {
  width: 410px;
  float: right;
}
.contact .right form {
  position: relative;
}
.contact .right form fieldset {
  position: relative;
}
.contact .right form fieldset label {
  display: block;
  position: relative;
  margin-bottom: 5px;
}
.contact .right form fieldset input,
.contact .right form fieldset textarea {
  line-height: 26px;
  border: 0;
  background: #e8d1e9;
  padding: 0 10px;
  margin: 0 0 15px 0;
  width: 250px;
  font-size: 12px;
  color: #7f3f96;
  outline: none;
  resize: none;
}
.contact .right form fieldset input {
  height: 26px;
}
.contact .right form fieldset textarea {
  line-height: 18px;
  padding: 10px;
  width: 390px;
}
.contact .right form button {
  color: #fff;
  line-height: 26px;
  display: inline-block;
  text-decoration: none;
  background: #94709e;
  padding: 0 15px;
  margin: 0;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  transition: all 100ms ease;
  position: relative;
  border: 0;
  font-size: 12px;
  cursor: pointer;
  float: right;
}
.contact .right form button:hover {
  background: #b549df;
}
.under-construction h1 {
  background: #b549df;
  line-height: 28px;
  height: 26px;
  color: #d29be5;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 10px;
  text-align: right;
}
#footer {
  width: 650px;
  margin: 0 auto;
  margin-top: 40px;
  background: url("../images/footer.png") -60px top no-repeat;
  height: 100px;
}
#footer ul {
  float: right;
}
#footer ul li {
  float: right;
  margin: 35px 0 0 20px;
}
#footer ul li a {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: block;
}
#footer ul li a.bga {
  width: 90px;
  height: 42px;
  background: url("../images/logo-betina.png") left top no-repeat;
}
#footer ul li a.hotf {
  width: 275px;
  height: 30px;
  background: url("../images/logo-house.png") left top no-repeat;
}
