@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneue-webfont.eot");
  src: url("../fonts/helveticaneue-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/helveticaneue-webfont.woff") format('woff'), url("../fonts/helveticaneue-webfont.ttf") format('truetype'), url("../fonts/helveticaneue-webfont.svg#helveticaneueregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
