@font-face {
  font-family: 'Helvetica Neue';
  src: url("../fonts/helveticaneue-webfont.eot");
  src: url("../fonts/helveticaneue-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/helveticaneue-webfont.woff") format('woff'), url("../fonts/helveticaneue-webfont.ttf") format('truetype'), url("../fonts/helveticaneue-webfont.svg#helveticaneueregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif, 'Helvetica Neue';
  background: url("../images/bg.jpg") no-repeat center top #9670a7;
  color: #7f3f96;
  overflow-y: scroll;
}
#header {
  background: url("../images/header.png") center top no-repeat;
  height: 122px;
}
#header .wrapper {
  width: 650px;
  margin: 0 auto;
}
#header .wrapper #logo {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: block;
  float: left;
  width: 128px;
  height: 51px;
  margin-top: 38px;
  background: url("../images/header-logo.png") left top no-repeat;
}
#header .wrapper #nav {
  float: right;
  position: relative;
}
#header .wrapper #nav ul {
  margin-top: 55px;
}
#header .wrapper #nav ul li {
  float: left;
}
#header .wrapper #nav ul li:last-child {
  margin-right: 0;
}
#header .wrapper #nav ul li a {
  display: block;
  color: #7f3f96;
  text-decoration: none;
  line-height: 24px;
  padding: 0 8px;
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  transition: all 100ms ease;
}
#header .wrapper #nav ul li a:hover {
  background: #94709e;
  color: #fff;
}
#content {
  *zoom: 1;
  width: 650px;
  margin: 0 auto;
  margin-top: 40px;
}
#content:before,
#content:after {
  content: " ";
  display: table;
}
#content:after {
  clear: both;
}
#content .new-home {
  margin-top: 40px;
  width: 320px;
  float: left;
}
#content .new-home h1 {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  width: 366px;
  height: 84px;
  background: url("../images/new-home.png") left top no-repeat;
  float: right;
}
#content .new-home h2 {
  font-size: 21px;
  margin: 30px 0 15px;
  color: #fff;
  float: left;
}
#content .new-home ul li {
  float: left;
}
#content .new-home ul li:last-child {
  float: right;
}
#content .what-is {
  margin-top: 40px;
  width: 280px;
  float: right;
}
#content .what-is h1 {
  font-size: 22px;
  margin-bottom: 15px;
}
#content .what-is p {
  line-height: 18px;
  text-align: justify;
}
.vertical-nav {
  width: 184px;
  float: left;
}
.vertical-nav ul li {
  line-height: 28px;
  margin-bottom: 3px;
}
.vertical-nav ul li a {
  display: block;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  text-align: right;
  padding-right: 10px;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  transition: all 200ms ease;
}
.vertical-nav ul li a.first {
  background: #492e77;
}
.vertical-nav ul li a.second {
  background: #882ea8;
}
.vertical-nav ul li a.third {
  background: #94709e;
}
.vertical-nav ul li a:hover {
  padding-right: 20px;
}
.content-desc {
  line-height: 18px;
  text-align: justify;
}
.content-desc p {
  margin-bottom: 20px;
}
.content-desc p:last-child {
  margin: 0;
}
.the-house-of-future .book {
  float: left;
  margin-top: 40px;
}
.the-house-of-future .content-desc {
  float: right;
  width: 410px;
}
.our-products .content-desc {
  float: left;
  width: 300px;
  border-right: 2px solid #a17ea6;
  padding-right: 23px;
}
.our-products .catalogue {
  float: right;
  width: 300px;
}
.our-products .catalogue h2 {
  background: #b549df;
  line-height: 28px;
  height: 26px;
  color: #d29be5;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 10px;
  text-align: right;
}
.the-designer {
  background: url("../images/the-designer.png") right bottom no-repeat;
  padding-bottom: 60px;
  *zoom: 1;
}
.the-designer:before,
.the-designer:after {
  content: " ";
  display: table;
}
.the-designer:after {
  clear: both;
}
.the-designer .content-desc {
  width: 280px;
  float: left;
  margin-left: 20px;
}
.the-designer .content-desc h3 {
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
  line-height: 24px;
}
.under-construction h1 {
  background: #b549df;
  line-height: 28px;
  height: 26px;
  color: #d29be5;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 10px;
  text-align: right;
}
#footer {
  width: 650px;
  margin: 0 auto;
  margin-top: 40px;
  background: url("../images/footer.png") -60px top no-repeat;
  height: 100px;
}
#footer ul {
  float: right;
}
#footer ul li {
  float: right;
  margin: 35px 0 0 20px;
}
#footer ul li a {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  display: block;
}
#footer ul li a.bga {
  width: 90px;
  height: 42px;
  background: url("../images/logo-betina.png") left top no-repeat;
}
#footer ul li a.hotf {
  width: 275px;
  height: 30px;
  background: url("../images/logo-house.png") left top no-repeat;
}
