@import "mixins"

font-size	= 13px
font-family	= Helvetica, Arial, sans-serif, 'Helvetica Neue'
text-color	= #7f3f96

body
	font-size font-size
	font-family font-family
	background url(../images/bg.jpg) no-repeat center top #9670a7
	color text-color
	overflow-y scroll

#header
	background url(../images/header.png) center top no-repeat
	height 122px
	.wrapper
		wrapper()
		#logo
			hidden-text()
			display block
			float left
			width 128px
			height 51px
			margin-top 38px
			background url(../images/header-logo.png) left top no-repeat
		#nav
			float right
			position relative
			ul
				margin-top 55px
				li
					float left
					
					&:last-child
						margin-right 0
					a
						display block
						color text-color
						text-decoration none
						line-height 24px
						padding 0 8px
						transition(100ms)
						&:hover
							background #94709e
							color #FFF

#content
	clearfix()
	wrapper()
	margin-top 40px
	.new-home
		margin-top 40px
		width 320px
		float left
		h1
			hidden-text()
			width 366px
			height 84px
			background url(../images/new-home.png) left top no-repeat
			float right
		h2
			font-size 21px
			margin 30px 0 15px
			color #FFF
			float left
		ul
			li
				float left
				&:last-child
					float right
	.what-is
		margin-top 40px
		width 280px
		float right
		h1
			font-size 22px
			margin-bottom 15px
		p
			line-height 18px
			text-align justify

.vertical-nav
	width 184px
	float left
	ul
		li
			line-height 28px
			margin-bottom 3px
			a
				display block
				text-transform uppercase
				color #FFF
				font-size 12px
				font-weight bold
				text-decoration none
				text-align right
				padding-right 10px
				transition(200ms)
				&.first
					background #492e77
				&.second
					background #882ea8
				&.third
					background #94709e
				&:hover
					padding-right 20px

.content-desc
	line-height 18px
	text-align justify
	p
		margin-bottom 20px
		&:last-child
			margin 0

.the-house-of-future
	.book
		float left
		margin-top 40px
	.content-desc
		float right
		width 410px

.our-products
	.content-desc
		float left
		width 300px
		border-right 2px solid #a17ea6
		padding-right 23px
	.catalogue
		float right
		width 300px
		h2
			background #b549df
			line-height 28px
			height 26px
			color #d29be5
			font-size 16px
			font-weight bold
			text-transform uppercase
			padding-right 10px
			text-align right

.the-designer
	background url(../images/the-designer.png) right bottom no-repeat
	padding-bottom 60px
	clearfix()
	.content-desc
		width 280px
		float left
		margin-left 20px
		h3
			font-size 18px
			text-align left
			margin-bottom 20px
			line-height 24px

.under-construction
	h1
		background #b549df
		line-height 28px
		height 26px
		color #d29be5
		font-size 16px
		font-weight bold
		text-transform uppercase
		padding-right 10px
		text-align right

#footer
	wrapper()
	margin-top 40px
	background url(../images/footer.png) -60px top no-repeat
	height 100px
	ul
		float right
		li
			float right
			margin 35px 0 0 20px
			a
				hidden-text()
				display block
				&.bga
					width 90px
					height 42px
					background url(../images/logo-betina.png) left top no-repeat 
				&.hotf
					width 275px
					height 30px
					background url(../images/logo-house.png) left top no-repeat 