@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/helveticaneue-webfont.eot');
	src: url('../fonts/helveticaneue-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/helveticaneue-webfont.woff') format('woff'),
		 url('../fonts/helveticaneue-webfont.ttf') format('truetype'),
		 url('../fonts/helveticaneue-webfont.svg#helveticaneueregular') format('svg');
	font-weight: normal;
	font-style: normal;

}

ir()
	background-color transparent
	border 0
	overflow hidden
	*text-indent -9999px

	&:before
		content ""
		display block
		width 0
		height 150%

wrapper()
	width 650px
	margin 0 auto

hidden-text()
	font 0/0 a;
	text-shadow none;
	color transparent;

transition(n)
	-webkit-transition: all n ease;
	-moz-transition: all n ease;
	transition: all n ease;

border-radius(n)
	-webkit-border-radius: n;
	-moz-border-radius: n;
	border-radius: n;

hidden()
	display none !important
	visibility hidden

visuallyhidden()
	border 0
	clip rect(0 0 0 0)
	height 1px
	margin -1px
	overflow hidden
	padding 0
	position absolute
	width 1px

	&.focusable:active
	&.focusable:focus
		clip auto
		height auto
		margin 0
		overflow visible
		position static
		width auto

invisible()

clearfix()
	*zoom 1

	&:before
	&:after
		content " "
		display table

	&:after
		clear both

sprite(posx, posxy, rpt = no-repeat)
	content ""
	display block
	background-image url('../img/sprite.png')
	background-position posx posxy
	background-repeat rpt

inline-block()
	display inline-block