<div class="contact">
	<div class="left">
		<p><strong>Owner, Architect & Designer</strong><br/>
		Betina Gomes<br/>
		<a href="mailto:bga@bga.arq.br">bga@bga.arq.br</a><br/>
		<strong>Brazilian Mobile</strong><br/>+55 51 9913-0408<br/>
		<strong>Italian Mobile</strong><br/>+39 380 3741814</p>

		<p><strong>Commercial & Marketing Director</strong><br/>
		Luiza Gomes<br/>
		<a href="mailto:commercial@bga.arq.br">commercial@bga.arq.br</a><br/>
		<strong>Brazilian Mobile</strong><br/>+55 21 9999-8422<br/>
		<strong>Italian Mobile</strong><br/>+39 388 7706507</p>
	</div>

	<div class="right">
		<form action="mail.php" method="post">
			<fieldset>
				<label for="name">Name:</label>
				<input type="text" name="name" id="name" data-required="required" data-error="Please, fill your name">

				<label for="email">Email:</label>
				<input type="text" name="email" id="email" data-required="email" data-error="Please, fill your Email">

				<label for="message">Message:</label>
				<textarea name="message" id="message" data-required="required" data-error="Please, type some message" rows="6"></textarea>
			</fieldset>

			<span class="error-message"></span>
			<button>Send</button>
		</form>
	</div>
</div>