<div class="home">
	<div id="video">
		<iframe src="http://player.vimeo.com/video/63096564" width="650" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div><!-- #video -->

	<div class="new-home">
		<h1>Novo lar. A casa do futuro. A casa que viaja com você.</h1>
		<h2>Conheça nossa linha de Produtos de Estruturas Itinerantes</h2>

		<ul>
			<li><img src="images/new-home-image-1.jpg"></li>
			<li><img src="images/new-home-image-2.jpg"></li>
		</ul>
	</div><!-- .new-home -->

	<div class="what-is">
		<h1>The House of The Future</h1>

		<p>A multifunctional portable home of only 32 square meters, in which technology, sustainability and mobility meet to bring a new concept of home and living. Eco-technology and sustainable construction are the main guidelines of its design, created and developed in 2012 by the Brazilian Architect and Designer Betina Gomes.</p>
	</div><!-- .what-is -->
</div><!-- .home -->