<script src="javascripts/controllers/our-products.js"></script>

<div class="our-products">
	<div class="content-desc">
		<h4>We dispose of a complete line of products that fulfill with excellence and agility the demand of seasonal constructions.</h4>

		<p>If up until today it was necessary to build construction permanent facilities, through this new concept you are now able to multiply reuse your spaces and optimize your investments. Our line of products are fully designed to deliver speed-to-market solutions, providing our clients the competitiveness agility they need.</p>

		<p>Our products have been developed to satisfy market needs around events such as trade fairs, fairs stands, show rooms, temporary living, mobile work stations as well as to support the continuing growth of the hospitality sector, specially seasonal events.</p>

		<p>Clients point out specific requirements and desires and we tailor customize creative solutions to be delivered in the agreed location, and surprisingly be assembled within 72 hours after delivery.</p>

		<p>Resembling a LegoTM Game, “islands” are designed upon wooden frame modules that smartly fit together. They are attached as building blocks but with a “plug and play” system that reduces the deployment time, giving clients efficient and effective products.</p>

		<p>The pieces are sustainably designed with state-of-the-art technology. Additionally, we are able to offer customized solutions that enable clients to change layouts, adapting to their different needs or design preferences at a touch of a button.</p>
	</div><!-- .content-desc -->

	<div class="catalogue">
		<h2>Catálogo de produtos</h2>

		<header class="header">
			<ul>
				<li class="margin"><a href="">Living</a></li>
				<li><a href="">Hospitality</a></li>
				<li class="margin"><a href="">Commercial Spaces</a></li>
				<li><a href="">Public Services</a></li>
			</ul>
		</header><!-- .header -->

		<div class="content">
			<ul>
				<li>
					<a href="" data-floorplan="http://placehold.it/455x600" data-image="http://placehold.it/455x600">
						<div class="hover">
							<h1>Bangalô de Luxo</h1>
						</div>

						<img src="http://placehold.it/300x120">
					</a>
				</li>
			</ul>
		</div><!-- .content -->
	</div><!-- .catalogue -->

	<div class="product-modal">
		<div class="content">
			<a href="" class="close"></a>

			<div class="floorplan"></div>
			<div class="image"></div>
		</div><!-- .content -->
	</div><!-- .product-modal -->
</div><!-- .our-products -->