<div class="the-designer">
	<div class="vertical-nav">
		<ul>
			<li><a href="" class="color-1">About</a></li>
		</ul>
	</div><!-- .vertical-nav -->

	<div class="content-desc">
		<p>Known for her unconventional and innovative designs, the young Brazilian Architect and Designer Betina Gomes has a Bachelor in Architecture and Urbanism from Universidade Federal do Rio Grande do Sul (Brazil), MBA in Marketing Management from Escola Superior de Propaganda e Marketing (Brazil) and Master degree in Interior Design from Florence Design Academy (Italy). The architect works with furniture design, residential and commercial architecture, and has participated actively throughout her career in various national and international exhibitions which has granted her several of the most important national design awards. Her offices are located in the cities of Sao Paulo, Rio de Janeiro and Porto Alegre, Brazil.</p>
	</div><!-- .content -->
</div><!-- .the-designer -->