<script src="javascripts/controllers/general.js"></script>

<div class="the-house-of-future">
	<div class="vertical-nav">
		<ul>
			<li>
				<a href="" class="active color-1" data-selected="0">The Design</a>
				<ul class="submenu">
					<li><a href=""  data-selected="1">How it Works</a></li>
					<li><a href=""  data-selected="2">Photos</a></li>
				</ul>
			</li>
			<li><a href="" class="color-2"  data-selected="3">The Inspiration</a></li>
			<li><a href="" class="color-3"  data-selected="4">Exhibitions and Awards</a></li>
			<li><a href="" class="color-1"  data-selected="5">Our Partners</a></li>
		</ul>

		<a href="pdf/book.pdf" class="book">
			<img src="images/book.png">
		</a>
	</div><!-- .vertical-nav -->

	<div class="content-desc">
		<h1>The Design</h1>

		<p>Technology, Mobility and Sustainability with a mixture of boldness and creativity were the guidelines for the design of this itinerant house.</p>

		<p>The House of The Future proposes rethinking the concepts of home, where living well is not a matter of the size of the house but much more about the functionality of its spaces. Brings the concept of the home that accompanies you, a fully portable facility, designed upon three wooden frame modules that smartly fit together and a dazzling finish inside.</p>

		<p>A complete house, which accommodates a couple perfectly: bedroom, closet, bathroom, gourmet kitchen, dining room, living room, home office, home theater, dance floor, lounge area, and even a Zen space. The design enable clients to have a wider range of living areas, in such compact space, thanks to an efficient automated technology that enable people to change layouts, set up different scenarios and switch living elements according to their mood or occasion, and adapting to their needs and preferences at a touch of a button. This only can happen due to the use of state of art technology integrated with mobile devices.</p>

		<p>This fully portable home was conceived upon a sustainable responsibility platform that stands upon three certified wooden frame modules which fit together, and is entirely constructed with certified raw materials, renewable energy resources, power saving appliances, contributing to an eco-friendly environment.</p>

		<p><strong>Transforming living spaces by a touch of a button</strong></p>

		<p>One of its multi flexible features is the transformation of a kitchen into a cozy dinner area. This happens by moving retractable table tops from beneath the center kitchen Island used for cooking, providing a comfortable eating area, as well as a sliding counter top that hides the kitchen sink, lifting of a complete open bar located next to the sliding top. But furniture magic is not the only brilliant idea that moves with a remote control. The creation of the perfect dinning atmosphere is completed when proper lights gleam a moody background for an intimate dinner for two, or more.</p>

		<p>Another gadget transforms an open space concept into a comfortable bedroom just by scrolling down roller shutters. But if the night promises for friendly entertainment, you can lower a panel that serves as a bed headboard on top of the bed, creating a stage that can be used as a Night Club floor dance. LED panels installed in the ceiling can be used to cause a Disco Dancing effect that will get your friends moving in the groove!</p>

		<p>But life is not only a party ball, and when time to get serious comes around the clock, you can pull out a retractable table on top of the same stage and build your home office, using the bedside articulated lamps as desk top lights for a good day of work.</p>
	</div>

	<div class="content-desc hide">
		<h1>How it Works</h1>

		<p><strong>Sustainability and Technology:</strong><p>

		<p>Automated scenarios created by a touch of a mobile device enables totally different living spaces by using home automation gadgets that control lights, blinds, appliances, furniture and sliding panels. It also allows seeing a consumption graph of electricity, water and gas. Security and maintenance, which are of utmost importance, have not been forgotten. In case there is a problem with your water pipes, valves are automatically activated to shut down to prevent possible leaks. Other featured technologies are integrated camera systems that allow the residents to monitor, in real time, their home 24/7, even from a distance.</p>

		<p>Sustainability is on the top of the “must have” list and this project would not be complete without it. The house also counts with a self-sufficient energy system that captures solar energy by Photovoltaic panels, as well as rain water capture to water outside plats, use to in the washing machine and used for bathroom flushing.</p>

		<p><strong>Multifunctional Spaces:</strong></p>

		<p>Kitchen/ Dinning/ Entertainment Space – Combines a well-equipped cooking island with exclusive appliances from Brazilian brand Elettromec, such as an electric cooktop and a built in counter stove hood as well as a wine cellar. Once cooking is over, you can activate retractable table tops turning the island into an eating space for up to four people. The kitchen lighting that was diffused and clear, slowly adapts, creating a more refined and cozy atmosphere for dinning. The counter also has a sliding door that can be placed on top of the sink, creating an uniform counter top and also permitting that an open bar rises from beneath. After dinner fun begins with a nice movie with the integrated Home Theater that drops down a screen from the ceiling, and also changes the cozy dinning light into a more intimate mood.</p>

		<p>Rest/ Work/ Fun Space - The comfortable bedroom that counts with a grand queen size bed can either have the spacious open concept feel or a more private one just by scrolling down automatic shutters that isolate the space from the rest. It also leads you to a balcony, which can serves as a Zen Space for relaxing. Once work time is needed, the headboard panel located behind the bed can be lowered down on to the bed, creating a stage type surface. A built in desk is retracted from inside the wall that supports the panel, sliding forward to accommodate an integrated home office. The bedside lamps pursuit articulated arms that allow you to move them around and serve as desk lights. After a long day’s work, why not call over some friends for a nice get together. Night Life fun is guaranteed when you put away the desk and use the stage surface as a dancing floor. LED panels installed in the ceiling make the perfect atmosphere for grooving.</p>

		<p>The bathroom – presents a Honey Onyx floor, an illuminated translucent stone, and a smart glass wall that looks out onto the outside charming garden view.</p>

		<p>Outdoor Lounge - The Brazilian furniture factory Green House is present in all outdoor furniture that makes up the reception lounge where you could also have friends over for happy hours and drinks. The retractable awnings from the Italian Corradi, cover the area of the balcony protecting home owners from weather changes and excessive sun exposure.</p>

		<p><strong>Interior Design:</strong></p>

		<p>Today fashion influences all sectors related to home decor. Colors and prints go directly from the catwalks to the ceramic, furniture and fabric factories. Taking this into consideration, Betina Gomes worked with Dell Anno’s fitted furniture, tailored with the Chamalote Noir pattern, a lamina developed by Brazilian fashion designer Reinaldo Lourenço. The gray and black tones brought a contemporary minimalist concept, stepping it up to the next level of fashion trends.</p>

		<p>That unique 32 square meters open space concept house may initially not give away the boldness of its blueprints. But its contemporary design captures the eyes through distinctive fine details that the architect handily chose to make this more than just a home. Once owners enter the house, they are indulged with a visual harmony of decor materials and appliances that solely speak for themselves. But they become breathless when they discover that different spaces can be transformed, almost as a synchronized dance, by a simple touch of the Tablet, Smartphone or any other compatible mobile device, turning into complete different scenes and spaces, by moving panels, furniture, changing lighting and creating totally new living areas right in front of their eyes.</p>
	</div>

	<div class="content-desc hide">
		<h1>Photos</h1>
		<ul class="photos">
			<li class="margin"><a href="images/house-1.jpg" target="blank"><img src="images/house-1.jpg"></a></li>
			<li><a href="images/house-2.jpg" target="blank"><img src="images/house-2.jpg"></a></li>
			<li class="margin"><a href="images/house-3.jpg" target="blank"><img src="images/house-3.jpg"></a></li>
			<li><a href="images/house-4.jpg" target="blank"><img src="images/house-4.jpg"></a></li>
			<li class="margin"><a href="images/house-5.jpg" target="blank"><img src="images/house-5.jpg"></a></li>
			<li><a href="images/house-6.jpg" target="blank"><img src="images/house-6.jpg"></a></li>
			<li class="margin"><a href="images/house-7.jpg" target="blank"><img src="images/house-7.jpg"></a></li>
			<li><a href="images/house-8.jpg" target="blank"><img src="images/house-8.jpg"></a></li>
			<li class="margin"><a href="images/house-9.jpg" target="blank"><img src="images/house-9.jpg"></a></li>
			<li><a href="images/house-10.jpg" target="blank"><img src="images/house-10.jpg"></a></li>
		</ul>
	</div>

	<div class="content-desc hide">
		<h1>The Inspiration</h1>

		<p>Known for her unconventional designs, the Brazilian Architect and Designer innovated and created a home that is a mixture of the Jetson’s futuristic home and a LegoTM game. The idea, unconventional as it is, is now presented as a reality. "The world has changed, man has changed, so why cannot a house also change?" says Betina. Yes, meaning literally change.</p>

		<p>Taking into account the everyday world of urban cities, where the availability of empty areas for building and construction is reducing drastically year by year, the real state speculation is big, and the square meter is highly valuable, the House of The Future comes in as a creative solution to provide not only an elegant design, but with it, a variety of multi-functionalities that bring practicality to the fast moving way of life in only 32 square meters.</p>

		<p>That is exactly what Betina Gomes said when rethinking a new and audacious Home Concept that mixes sophisticated living without all the sophisticate cost. Fact of life is that people every day more appreciate exclusiveness and comfort that modern life requires to meet the faster paced life style we pursuit, but not always have the resources to invest in big homes.</p>

		<p>The project inspiration occurred by thinking of ways on using a different rational for shared spaces for multi-appliances and furniture, optimizing each square meter, adding value-for-money to the end game of “Fine Living”. For instance: Why do you need a bed occupying a 3.5 square meter the whole time if you only need to use it to sleep? What could you do with this space during the day? And that is how Betina started thinking on creative and trendy design solutions that reuses the same space for different activities.</p>

		<p>The idea of having a house-in-a-box concept, where you can transport not only your roof top but your personnel essence and living style that comes with it, from one place to another, either by land, sea or air seems an utopian idea far from reality. As life changes faster, you never know where you may wake up the other day. People has migrated in and out of cities and countries, so mobility starts being a concept not only for handhelds and electronic devices, but also for commercial sites and why not houses.</p>

		<p>It redefines “packing your bags” into a new meaning expanding the idea of crossing borders to a whole different level.</p>
	</div>

	<div class="content-desc hide">
		<h1>Exhibitions and Awards</h1>

		<p>Launched in early 2012 in Porto Alegre, south of Brazil, the House of The Future has been traveling by road, in a truck, over its home country Brazil, being showed in five of the most important architecture and design exhibitions.

		<p>São Paulo Design Weekend, Brazil (1st Edition)<br/>
		Expo Predialtec São Paulo, Brazil<br/>
		Casa Cor São Paulo, Brazil<br/>
		Casa Cor Porto Alegre. Brazil<br/>
		Salão Pense Imóveis Porto Alegre, Brazil<br/>
		Milan Design Week at the Temporary Museum for New Design 2013 – Tortona Fuori Salone , Italy</p>

		<p><strong>Awards:</strong></p>

		<p><strong>2012</strong><br/>
		PLANETA CASA Prize by Editora Abril, as the Best Sustainable Design - Interior Design Award Category – São Paulo –
		SP - Brazil<br/><br/>
		CASA COR as the Most Sustainable Environment Space – Porto Alegre – RS - Brazil</p>

		<p><strong>2013</strong><br/>
		A’Design Award & Competition – Architecture, Building and Structure Design Category – Milan - Italy</p>
	</div>

	<div class="content-desc">
		<h1>Our Partners</h1>

		<p><strong>Green House</strong><br/>
		<a href="http://www.greenhousemoveis.com.br" target="blank">www.greenhousemoveis.com.br</a><br/>
		<a href="mailto:projeto@greenhousemoveis.com.br">projeto@greenhousemoveis.com.br</a></p>

		<p><strong>Elettromec</strong><br/>
		<a href="http://www.elettromec.com.br">www.elettromec.com.br</a><br/>
		<a href="mailto:vendas@elettromec.com.br">vendas@elettromec.com.br</a></p>

		<p><strong>Dell Anno</strong><br/>
		<a href="http://www.dellanno.com.br">www.dellanno.com.br</a><br/>
		<a href="mailto:edson@unicasa.com.br">edson@unicasa.com.br</a></p>

		<p><strong>Corradi</strong><br/>
		<a href="http://www.corradi.eu">www.corradi.eu</a></p>
	</div>
</div><!-- .the-house-of-future -->