<div class="the-house-of-future">
	<div class="vertical-nav">
		<ul>
			<li><a href="" class="first">O projeto</a></li>
			<li><a href="" class="second">Exposições e prêmios</a></li>
			<li><a href="" class="third">Nossos parceiros</a></li>
		</ul>

		<a href="" class="book">
			<img src="images/book.png">
		</a>
	</div><!-- .vertical-nav -->

	<div class="content-desc">
		<p>A Casa do Futuro foi projetada para atender às necessidades dos seus moradores. Uma casa completa que abriga perfeitamente um casal: dormitório, closet, banheiro, living, home office, home theater, espaço para lazer e diversão, cozinha, sala de jantar e até um espaço zen. Tudo isso projetado em um espaço de apenas 32m2, graças à uma eficiente tecnologia da automação, a qual permite mudar os ambientes de acordo com a necessidade de seus habitantes.</p>

		<p>Ambientes distintos estão pré-programados e, a um simples comando via celular, transformam-se completamente, a exemplo do espaço da cama, de ondeprojeta-se o home office, que, por sua vez,  transforma-se em pista de dança.</p>

		<p>Isso sem mencionar os conceitos sustentáveis na gestão dos recursos ambientais, como a utilização de matéria prima certificada, o uso de placas fotovoltaicas que produzem a energia elétrica a qual é consumida através de eletroeletrônicos de baixo consumo, bem como o uso de iluminação Led. Na casa ainda é possível encontrar sistema de aquecimento solar da água e aproveitamento da energia eólica na geração de energia elétrica.</p>
		
		<p>Design, moda e muito bom gosto não podiam faltar na decoração dos ambientes, os quais não abrem mão do conforto, mesmo em um espaço tão reduzido. A Casa do Futuro propõe repensar os conceitos de lar, onde morar bem não é medido pelo tamanho da moradia, mas sim pela funcionalidade de seus espaços.</p>	 

		<p>Tecnologia, sustentabilidade, mobilidade e uma mistura de ousadia e inovação nortearam o projeto desta casa itinerante que, só em 2012, já passou por cinco eventos, em Porto Alegre, terra natal da arquiteta, e em São Paulo, em mostras como a Casa Cor, referência nacional no setor de decoração e na primeira edição da Design Week de São Paulo.</p>
	</div><!-- .content -->
</div><!-- .the-house-of-future -->