<div class="the-designer">
	<div class="vertical-nav">
		<ul>
			<li><a href="" class="first">Sobre a designer</a></li>
			<li><a href="" class="second">Mídia</a></li>
		</ul>
	</div><!-- .vertical-nav -->

	<div class="content-desc">
		<h3>Uma maneira diferente de enxergar a arquitetura itinerante</h3>
		<p>Conhecida por seus projetos pouco convencionais, a jovem gaúcha resolveu inovar e criou uma casa que é uma mistura de morada dos Jetsons com um jogo de lego. A ideia, nada convencional, é hoje apresentada como uma residência real. “O mundo mudou, o homem mudou, então porque a casa também não pode mudar?”, afirma Betina. Sim, literalmente mudar. A Casa do Futuro traz o conceito da morada que lhe acompanha. Um espaço totalmente móvel, composto de 3 módulos de madeira que se encaixam. A tecnologia é Wood Frames - tecnologia alemã de construção leve e modulável, feita em quadros de madeira certificada. Este é o único projeto brasileiro de arquitetura de interiores presente na edição 2013 da prestigiada mostra anual italiana. E não acaba por aí, durante a semana de design, a arquiteta lançará, em primeira mão, uma linha de produtos inovadores: estruturas itinerantes com foco no mercado de grandes eventos.</p>
	</div><!-- .content -->
</div><!-- .the-designer -->