<div class="home">
	<div id="video">
		<iframe src="http://player.vimeo.com/video/62741577" width="650" height="400" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div><!-- #video -->

	<div class="new-home">
		<h1>Novo lar. A casa do futuro. A casa que viaja com você.</h1>
		<h2>Conheça nossa linha de Produtos de Estruturas Itinerantes</h2>

		<ul>
			<li><img src="images/new-home-image-1.jpg"></li>
			<li><img src="images/new-home-image-2.jpg"></li>
		</ul>
	</div><!-- .new-home -->

	<div class="what-is">
		<h1>O que é a casa do futuro?</h1>

		<p>A Casa do Futuro é uma residência itinerante de apenas 32m², onde tecnologia, mobilidade e sustentabilidade se encontram, criando um conceito revolucionário em moradia e construção civíl. A ideia de uma casa móvel, que possa ser transportada de um lugar para outro, por terra, mar ou ar é a proposta da Arquiteta e Designer brasileira Betina Gomes com seu projeto inovador da Casa do Futuro, lançado no Brasil no ano passado e que estará presente de 9 a 14 de abril de 2013 na Mostra Fuori Salone no TemporaryMuseum For New Design, durante a concorrida Design Week de Milão.</p>
	</div><!-- .what-is -->
</div><!-- .home -->