<div class="our-products">
	<div class="content-desc">
		<p>Em abril de 2013, em plena Via Tortona, no renomado Superstudio Più em Milão (Itália), a já nacionalmente reconhecida e premiada "CASA DO FUTURO" é apresentada como um dos mais de 20 modelos de uma inovadora linha de produtos itinerantes assinados pela arquiteta e designer brasileira BETINA GOMES. Os produtos são espaços comerciais e de serviço totalmente portáteis, concebidos para atender e solucionar a demanda de grandes eventos, como os que ocorrerão no Brasil a partir do ano que vem com a Copa do Mundo e as Olímpíadas.</p>
		
		<p>Dispomos de uma completa linha de produtos para atender com excelência e agilidade a demanda de empreendimentos efêmeros e sazonais.</p>
		
		<p>Se até hoje era necessário imobilizar o empreendimento, agora através desse novo conceito construtivo, o uso é multiplicado e o investimento dividido.</p>
		
		<p>Nossos produtos foram desenvolvidos para atender o mercado de grandes eventos, hotelaria, stands de feiras, show rooms e moradias temporários e estações móveis de trabalho.</p>
		
		<p>O cliente aponta as necessidades, escolhe os produtos  e entregamos prontos no local destinado. Como em um jogo de lego, as "Ilhas" são montadas em até 72hs.  Os módulos residenciais, comerciais, de serviço e de hotelaria se encaixam formando um conjunto completo.</p>
		
		<p>Agilidade e excelência, em um alto padrão de design e acabamento. Todos os nossos produtos são projetados para serem sustentáveis e são dotados de tecnologia de ponta.</p>
		
		<p>É a solução com eficiência e agilidade.</p>
		
		<p>Nosso catálogo de produtos se divide em Moradia (Casa do Futuro), Hotelaria (Bangalô de Luxo, Suíte Casal Luxo, Apartamento Casal, Apartamento Solteiro e Alojamento Coletivo), Comercial (Boutique, Coffee Shop, Beauty Time, Small Spa, Big Spa, Betting Place, Bilheteria, Pub) e Serviço (Espaço Kids, Lounge, Information Point, Banheiro Masculino, Banheiro Feminino, Vestiário Masculino, Vestiário Feminino, Enfermaria, Estações móveis de Trabalho). Também trabalhamos com projetos personalizados para Show Rooms Temporários, Plantões de Venda, Stand de Feiras.</p>
	</div><!-- .content-desc -->

	<div class="catalogue">
		<h2>Catálogo de produtos</h2>
	</div><!-- .catalogue -->
</div><!-- .our-products -->